body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(red, orange);
}

#tree {
    height: 90%;
    margin-top: auto;
}

#birds {
    position: absolute;
    top: 20px;
    left: 600px;
}

.pole {
    width: 30px;
    height: 350px;
    background-color: black;
    position: absolute;
    z-index: -1;
    margin-top: 500px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    border-color: black;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30%;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: dotted;
}

#darkRed {
    background-color: rgb(114, 13, 13);
}

#darkYellow {
    background-color: rgb(179, 154, 15);
}

#darkGreen {
    background-color: rgb(7, 70, 7);
}

.box {
    display: flex;
    width: 85%;
    height: 85%;
    border-radius: 50%;

}

#red {
    background-color: black;
    display: flex;
    align-items: flex-end;
    animation: redBig 6s 4s infinite;
}

@keyframes redBig {
    0% {
        background-color: black;
    }

    20% {
        background-color: red;
    }
}

#yellow {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    animation: yellowBig 6s 2s infinite;
}

@keyframes yellowBig {
    0% {
        background-color: black;
    }

    20% {
        background-color: yellow;
    }
}

#green {
    background-color: black;
    display: flex;
    align-items: flex-end;
    animation: greenBig 6s infinite;

}

@keyframes greenBig {
    0% {
        background-color: black;
    }

    20% {
        background-color: green;
    }
}

.redBoxFill {
    width: 100%;
    height: 50%;
    background-color: black;
    opacity: 50%;
    border-radius: 0 0 50px 50px;
    animation: redSmall 6s 4s infinite;
}

@keyframes redSmall {
    0% {
        background-color: black;
    }

    20% {
        background-color: white;
    }
}

.yellowBoxFill {
    width: 50%;
    height: 50%;
    background-color: black;
    opacity: 50%;
    border-radius: 0 0 50px 0;
    animation: yellowSmall 6s 2s infinite;
}

@keyframes yellowSmall {
    0% {
        background-color: black;
    }

    33% {
        background-color: white;
    }
}


.greenBoxFill {
    width: 50%;
    height: 50%;
    background-color: black;
    opacity: 50%;
    border-radius: 0 0 0 50px;
    animation: greenSmall 6s infinite;
}

@keyframes greenSmall {
    0% {
        background-color: black;
    }

    33% {
        background-color: white;
    }
}